<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angularBurger</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app='burgerMenu' ng-controller="burgerController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <section  id="fullpageburgerserve" >
    <div class="container">
      <div  class="topheader">
      <h1 class="supertitle">
          Make a burger with <span>YOUR</span> Style
      </h1>
      <h4>choose your ingredients and make it awesome</h4>
      </div>
       <div class="burger_area">
        <h4> You already added: </h4>
         <ul>
           <li ng-repeat="item in ingredient"> {{ item.name }} : {{item.extrainfo}} - {{item.price | currency}} </li>

         </ul>
      </div>
    </div>
  </section>
  <section class="build">

    <div class="container">
      <div style="padding: 10px" class="col-sm-3 col-xs-12" ng-repeat="item in ingredient">
     <div class="cardburg " >
          <img class="ingredient_type" ng-src="images/icons/{{item.type}}">
          <div class="item_image">
                <img ng-src="{{item.img}}" class="img-responsive center-block">
          </div>

          <div class="card_buttons">
             <div class="iteminfo">
          <h2> {{ item.name }} </h2>
          <p class="pieceweight"> {{item.extrainfo}}    </p><p class="price"> <span>$</span> {{item.price}}</p>
        </div>  
            <div class="btn btn-success ingredient_add"> Add </div>

             
          </div>
       </div>   
      </div>
      </div>
    

       <div class="botao ylwbutton">
        Next
       </div>

  </section>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
     <script src="/bower_components/angular/angular.js"></script>
     
    <script src="scripts/burgerMenu.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <!-- endbuild -->
  </body>
</html>
